mixin mob-mnu()
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo
				img(loading="lazy" src="img/svg/logo.svg" alt="")
			+mnu()
			+inpBlock()
			+iconLinksRow('d-sm-none')

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				+e.menu-col.col.d-xl-block.d-none
					+mnu()
				.col-auto
					+e.logo(href='#')
						img(loading="lazy" src='img/svg/logo.svg' alt="")
				.col
					+e.sub-row.row.justify-content-end.align-items-center
						.col-auto.d-none.d-md-block.me-xxl-3
							+inpBlock()
						.col-auto
							+e.dd-link-cont
								+e.dd-link €
						.col-auto
							+e.dd-link-cont.me-xxl-3
								+e.dd-link EN
						.col-auto.d-none.d-sm-block
							+iconLinksRow()
				.col-auto.ms-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
	// end top-nav

mixin inpBlock()
	+b.mnu-search
		+e.btn(type='button')
			+icon('search')
		+inp3('Search', 'text')
		//-+e.INPUT.input(type="text" name='search')

mixin inp3(ph, type, val='', labelClass='custop-ph-label', name="name")
	.label(class=labelClass)
		+e.INPUT.input.form-control.has-ph-js(type=type name=name)&attributes(attributes)
		span.l-title=ph
		block

mixin iconLinksRow(addClasses)
	+b.il-row.row(class=addClasses)
		.col-auto
			+e.link
				+icon('heart')
		.col-auto
			+e.link
				+icon('user')
		.col-auto
			+e.link
				+icon('bag')