mixin mob-mnu()
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo
				img(loading="lazy" src="img/svg/logo.svg" alt="")
			+mnu()
			.mb-3
				+inpBlock()
			.row
				.col-auto.d-sm-none
					+b.dd-link-cont
						+e.head €
						+ddContent(['€', '₽', '$'])
				.col-auto.d-sm-none
					+b.dd-link-cont
						+e.head EN
						+ddContent(['RUS', 'UKR', 'POL'])
			//+iconLinksRow('d-sm-none')

mixin top-nav(showActive)
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				+e.menu-col.col.d-xl-block.d-none
					+mnu()
				.col-auto
					+e.logo(href='#')
						img(loading="lazy" src='img/svg/logo.svg' alt="")
				.col
					+e.sub-row.row.justify-content-end.align-items-center
						.col-auto.d-none.d-md-block.me-xxl-3
							+inpBlock()
						.col-auto.d-none.d-sm-block
							+b.dd-link-cont
								+e.head €
								+ddContent(['€', '₽', '$'])
						.col-auto.d-none.d-sm-block
							+b.dd-link-cont
								+e.head EN
								+ddContent(['RUS', 'UKR', 'POL'])
						.col-auto
							if showActive
								+iconLinksRow2()
							else
								+iconLinksRow()
				.col-auto.ms-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
	// end top-nav

mixin ddContent(linksArr=['1', '2'])
	+b.dd-content
		ul
			-for(var i = 0; i < linksArr.length; i++)
				li: a(href="#")=linksArr[i]

mixin inpBlock()
	+b.mnu-search
		//-+e.btn(type='button')
			+icon('search')
		//-+inp3('Search', 'text')
		+e.INPUT.input.form-control(type='text' placeholder='Search')&attributes(attributes)

mixin inp3(ph, typ, val='', labelClass='custop-ph-label', name="name")
	.label(class=labelClass)
		if typ=="textarea"
			+e.TEXTAREA.input.form-control.has-ph-js(type=typ name= name)&attributes(attributes)
			span.l-title=ph
			block
		else
			+e.INPUT.input.form-control.has-ph-js(type=typ name= name)&attributes(attributes)
			span.l-title=ph
			block

mixin iconLinksRow(addClasses)
	+b.il-row.row(class=addClasses)
		.col-auto
			+e.link--heart(href='#')
				+icon('heart2')
		.col-auto
			+e.link-user
				+e.link--user(href='#')
					+icon('user')
				+lcDD()
		.col-auto
			+e.link-cart
				+e.link--bag.active.cart-btn-js
					+icon('bag')
				+cartDD()
			//-+e.link--bag(href='#')
				+icon('bag')


mixin iconLinksRow2(addClasses)
	+b.il-row.row(class=addClasses)
		.col-auto
			+e.link--heart.active(href='#')
				+icon('heart2')
		.col-auto
			+e.link-user
				+e.user-img(href='#')
					img(loading="lazy" src='img/@2x/soc-img.png' alt="")
				+lcDD()
		.col-auto
			+e.link-cart
				+e.link--bag.cart-btn-js
					+icon('bag')
				+cartDD()

mixin lcDD()
	+b.lc-dd
		+e.inner
			+e.header
				span Приветствуем,
				br
				span tatiana.nikolaeva
			+e.content
				+e.menu
					ul
						li: a(href='#') Данные аккаунта
						li: a(href='#') Контактные данные
						li: a(href='#') Мои заказы
						li: a(href='#') Избранное
				+e.log-out(href='#')
					+e.icon
						img(loading="lazy" src="img/svg/logout.svg" alt="")
					+e.lo-txt Выйти

mixin cartDD()
	+b.cart-dd--js
		+e.inner
			+e.close-btn.cart-btn-js.d-xl-none
				+icon('close')
			+e.header корзина
			+e.items
				+cartDDItem(1)
				+cartDDItem(2)
			+e.bot-btns
				+e.cart-btn(href="#") Перейти в корзину
				+e.order-btn(href="#") Оформить Заказ

mixin cartDDItem(imgNum)
	+e.item
		+e.row.row
			.col-auto
				+e.img(href='#')
					img(loading="lazy" src=`img/@2x/basket-${imgNum}.jpg` alt="")
			.col
				+e.name(href='#') 12 линия Васильевского Острова
				+e.author Сергей Усик
				+e.data
					+cartDDDataItem('Код товара', '32 55 84 35')
					+cartDDDataItem('Кол-во', '1')
					+cartDDDataItem('Размер', '60 x 159 cm')
				+e.foot-row.row.align-items-center.gy-2
					+e.per-txt.col-sm Цена за 1 штуку
					+e.per-val.col-sm-auto 140 000 ₽

mixin cartDDDataItem(name, val)
	+e.data-item.row.gy-1
		+e.name-col.col-auto=name
		.col=val